
docs/manual/english/manual.aux

docs/manual/english/manual.log

docs/manual/english/manual.out

docs/manual/english/manual.pdf

docs/manual/english/manual.synctex.gz

docs/manual/polish/manual.aux

docs/manual/polish/manual.log

docs/manual/polish/manual.out

docs/manual/polish/manual.synctex.gz
